<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create Machine Type</h3>
    </div>
    <div class="modal-body">
        <form novalidate name="adminCreateMachineTypeController.form">
            <div class="form-group">
                <label class="control-label">*Name</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.name" required>
            </div>
            <div class="form-group">
                <label class="control-label">Logo</label>
                <file-upload prefix="adminCreateMachineTypeController.logo"></file-upload>
            </div>
            <div class="form-group">
                <label class="control-label">*Description</label>
                <textarea class="form-control" ng-model="adminCreateMachineTypeController.description" required></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Image</label>
                <select class="form-control" ng-model="adminCreateMachineTypeController.imageId" ng-options="image.id as image.name for image in adminCreateMachineTypeController.images" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Flavor</label>
                <select class="form-control" ng-model="adminCreateMachineTypeController.flavorId" ng-options="flavor.id as flavor.name for flavor in adminCreateMachineTypeController.flavors" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Availability Zone</label>
                <select class="form-control" ng-model="adminCreateMachineTypeController.availabilityZone" ng-options="availabilityZone.name as availabilityZone.name for availabilityZone in adminCreateMachineTypeController.availabilityZones" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">*Pool Size</label>
                <input class="form-control" type="number" ng-model="adminCreateMachineTypeController.poolSize" required>
            </div>
            <div class="form-group">
                <label class="control-label">Aquilon Archetype</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.aquilonArchetype">
            </div>
            <div class="form-group">
                <label class="control-label">Aquilon Domain</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.aquilonDomain">
            </div>
            <div class="form-group">
                <label class="control-label">Aquilon Personality</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.aquilonPersonality">
            </div>
            <div class="form-group">
                <label class="control-label">Aquilon Sandbox</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.aquilonSandbox">
            </div>
            <div class="form-group">
                <label class="control-label">Aquilon OS Version</label>
                <input class="form-control" type="text" ng-model="adminCreateMachineTypeController.aquilonOSVersion">
            </div>
            <div class="form-group">
                <label class="control-label">Scope</label>
                <div class="input-group" style="margin-top: 7px;" ng-repeat="scope in adminCreateMachineTypeController.scopes">
                    <textarea class="form-control" ng-model="scope.query"></textarea>
                    <label class="input-group-addon">
                        <a class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="adminCreateMachineTypeController.deleteScope(scope)"><i class="glyphicon glyphicon-remove"></i></a>
                    </label>
                </div>
                <div class="input-group" style="margin-top: 7px;">
                    <textarea class="form-control"  && adminCreateMachineTypeController.addScope();" ng-model="adminCreateMachineTypeController.newScope"></textarea>
                    <label class="input-group-addon">
                    <a class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="adminCreateMachineTypeController.addScope()"><i class="glyphicon glyphicon-plus"></i></a>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="adminCreateMachineTypeController.create()" ng-disabled="adminCreateMachineTypeController.form.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="adminCreateMachineTypeController.close()">Close</button>
    </div>
</div>