<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Edit Machine Type</h3>
    </div>
    <div class="modal-body">
        <form novalidate name="adminEditMachineTypeController.form">
            <div class="form-group">
                <label class="control-label">*Name</label>
                <input class="form-control" type="text" ng-model="adminEditMachineTypeController.name" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Image</label>
                <select class="form-control" ng-model="adminEditMachineTypeController.imageId" ng-options="image.id as image.name for image in adminEditMachineTypeController.images" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Flavor</label>
                <select class="form-control" ng-model="adminEditMachineTypeController.flavorId" ng-options="flavor.id as flavor.name for flavor in adminEditMachineTypeController.flavors" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="server">*Availability Zone</label>
                <select class="form-control" ng-model="adminEditMachineTypeController.availabilityZone" ng-options="availabilityZone.name as availabilityZone.name for availabilityZone in adminEditMachineTypeController.availabilityZones" required>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">*Pool Size</label>
                <input class="form-control" type="number" ng-model="adminEditMachineTypeController.poolSize" required>
            </div>
            <div class="form-group">
                <label class="control-label">Personality</label>
                <input class="form-control" type="text" ng-model="adminEditMachineTypeController.personality">
            </div>
            <div class="form-group">
                <label class="control-label">Scope</label>
                <div class="input-group" style="margin-top: 7px;" ng-repeat="scope in adminEditMachineTypeController.scopes">
                    <textarea class="form-control" ng-model="scope.query"></textarea>
                    <label class="input-group-addon">
                        <a class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="adminEditMachineTypeController.deleteScope(scope)"><i class="glyphicon glyphicon-remove"></i></a>
                    </label>
                </div>
                <div class="input-group" style="margin-top: 7px;">
                    <textarea class="form-control"  && adminEditMachineTypeController.addScope();" ng-model="adminEditMachineTypeController.newScope"></textarea>
                    <label class="input-group-addon">
                    <a class="btn btn-primary btn-xs" style="font-size: 8px;" ng-click="adminEditMachineTypeController.addScope()"><i class="glyphicon glyphicon-plus"></i></a>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="adminEditMachineTypeController.save()" ng-disabled="adminEditMachineTypeController.form.$invalid">Save Changes</button>
        <button class="btn btn-warning" ng-click="adminEditMachineTypeController.close()">Close</button>
    </div>
</div>