

<div ng-show="adminMachineTypesController.facilities.length > 1">
    <br>
    <ul class="nav nav-tabs nav-tabs-head">
        <li ng-repeat="facility in adminMachineTypesController.facilities" ng-class="{active: facility.config().name == $state.params.facilityName}">
            <a ui-sref="admin.machine-templates({facilityName: facility.config().name})">{{facility.config().title}}</a>
        </li>
    </ul>
    <br>
</div>

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div style="float: right">
				<button class="btn btn-sm btn-primary" ng-click="adminMachineTypesController.create()">Create</button>
			</div>

			<h1>Machine Types</h1>

			<br>

			<div class="panel panel-default" ng-repeat="machineType in adminMachineTypesController.machineTypes">
				<div class="panel-heading">
					<span style="float:right">
						<button class="btn btn-primary btn-xs" ng-click="adminMachineTypesController.edit(machineType)">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button class="btn btn-primary btn-xs" ng-click="adminMachineTypesController.delete(machineType)">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</span>
					{{machineType.name}}
				</div>
				<div class="panel-body">
					<div class="detail" ng-if="machineType.logoMimeType">
						<img ng-src="{{machineType.logoUrl()}}" style="max-width: 200px">
						<br><br>
					</div>
					<div class="detail">
						<label>Description:</label>
						{{machineType.description}}
					</div>
					<div class="detail">
						<label>Image:</label>
						{{machineType.image.name}}
					</div>
					<div class="detail">
						<label>Flavor:</label>
						{{machineType.flavor.name}}
					</div>
					<div class="detail">
						<label>Availability zone:</label>
						{{machineType.availabilityZone}}
					</div>
					<div class="detail">
						<label>Pool size:</label>
						{{machineType.poolSize}}
					</div>
					<div class="detail" ng-if="machineType.aquilonArchetype">
						<label>Aquilon Archetype:</label>
						{{machineType.aquilonArchetype}}
					</div>
					<div class="detail" ng-if="machineType.aquilonDomain">
						<label>Aquilon Domain:</label>
						{{machineType.aquilonDomain}}
					</div>
					<div class="detail" ng-if="machineType.aquilonPersonality">
						<label>Aquilon Personality:</label>
						{{machineType.aquilonPersonality}}
					</div>
					<div class="detail" ng-if="machineType.aquilonSandbox">
						<label>Aquilon Sandbox:</label>
						{{machineType.aquilonSandbox}}
					</div>
					<div class="detail" ng-if="machineType.aquilonOSVersion">
						<label>Aquilon OS Version:</label>
						{{machineType.aquilonOSVersion}}
					</div>
					<div class="detail" ng-if="machineType.scopes.length > 0">
						<label>Scope:</label>
						<ul>
							<li ng-repeat="scope in machineType.scopes">{{scope.query}}</li>
						</ul>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>


