<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">New Analysis Environment</h3>
    </div>
    <div class="modal-body">

        <form novalidate name="createMachineController.form">
            <div class="form-group">
                <div class="machine-types" take-up-remaining-height>

                    <div class="machine" ng-class="{selected: createMachineController.machineTypeId == machineType.id}" ng-repeat="machineType in createMachineController.machineTypes">
                        <div class="radio">
                            <input type="radio" name="machineType" ng-model="createMachineController.machineTypeId" ng-value="machineType.id" required>
                        </div>
                        <div class="machinetype" ng-if="machineType.logoMd5">
                            <img ng-src="{{machineType.logoUrl()}}">
                        </div>
                        <div class="main">
                            <div class="info">
                                <div class="title">{{machineType.name}}</div>
                                <div class="description">
                                    {{machineType.description}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="createMachineController.create()" ng-disabled="createMachineController.form.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="createMachineController.close()">Close</button>
    </div>
</div>