<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create Machine</h3>
    </div>
    <div class="modal-body">

        <form novalidate name="createMachineController.form">
            <div class="form-group">
                <label class="control-label" for="server">Type</label>
                <div class="machine-types" take-up-remaining-height>

                    <div class="machine" ng-class="{selected: createMachineController.machineTypeId == machineType.id}" ng-repeat="machineType in createMachineController.machineTypes">
                        <div class="radio">
                            <input type="radio" name="machineType" ng-model="createMachineController.machineTypeId" ng-value="machineType.id" required>
                        </div>
                        <div class="screenshot">
                            <img src="/topcat_daaas_plugin/images/mantid.png">
                        </div>
                        <div class="main">
                            <div class="info">
                                <div class="title">{{machineType.name}}</div>
                                <div class="description">
                                    Mantid has been created to manipulate and analyse Neutron and Muon scattering data, but could be applied to many other techniques. Also includes Horace - a suite of programs for the visualisation and analysis of large datasets from time-of-flight neutron inelastic scattering spectrometers 
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="createMachineController.create()" ng-disabled="createMachineController.form.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="createMachineController.close()">Close</button>
    </div>
</div>