<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create Machine</h3>
    </div>
    <div class="modal-body">
        <form novalidate name="createMachineController.form">
            <div class="form-group">
                <label class="control-label" for="server">Type</label>
                <select name="machineTypeId" class="form-control" ng-model="createMachineController.machineTypeId" ng-options="machineType.id as machineType.name for machineType in createMachineController.machineTypes" required>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="createMachineController.create()" ng-disabled="createMachineController.form.$invalid">Create</button>
        <button class="btn btn-warning" ng-click="createMachineController.close()">Close</button>
    </div>
</div>