<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div style="float: right">
				<button class="btn btn-sm btn-primary" ng-click="myMachinesController.create()">Create</button>
			</div>

			<h1>My Machines</h1>

			<br>
			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<div class="machine" ng-repeat="machine in myMachinesController.machines">
				<div class="screenshot">
					<img ng-if="machine.screenshotMd5 != ''" src="{{machine.screenshotUrl()}}">
				</div>
				<div class="main">
					<div class="info">
						<button ng-if="machine.type == 'PRIMARY'" class="btn btn-xs btn-default remove" ng-click="myMachinesController.delete(machine)"><span class="glyphicon glyphicon-remove"></span></button>
						<div class="title">{{machine.name}} <button ng-if="machine.type == 'PRIMARY'" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span></button></div>
						<div class="field">
							<label>State:</label>
							<div>{{machine.state}}</div>
						</div>
						<div class="field">
							<label>Host:</label>
							<div>{{machine.host}}</div>
						</div>
						<div class="field">
							<label>Date created:</label>
							<div>10/12/2016</div>
						</div>
						<div class="field">
							<label>Owner:</label>
							<div>
								{{machine.primaryUser.name}}
								<span ng-if="machine.primaryUser.fullName">
									({{machine.primaryUser.fullName}})
								</span>
							</div>
						</div>
					</div>
					<div class="actions">
						<button ng-if="machine.type == 'PRIMARY'" class="btn btn-sm btn-default" ng-click="myMachinesController.share(machine)">Share</button>
					 	<span class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Launch <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a ng-click="myMachinesController.view(machine)">Browser</a></li>
						    <li><a href="#">RDP</a></li>
						    <li><a href="#">SSVNC</a></li>
						  </ul>
						</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

