<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div style="float: right">
				<button class="btn btn-sm btn-primary" ng-click="myMachinesController.create()">Create</button>
			</div>

			<h1>My Machines</h1>

			<br>
			<table ng-if="myMachinesController.machines.length > 0"  class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>State</th>
						<th>Host</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="machine in myMachinesController.machines">
						<td>{{machine.name}}</td>
						<td>{{machine.state}}</td>
						<td>{{machine.host}}</td>
						<td>
							<button class="btn btn-xs btn-primary" ng-click="myMachinesController.view(machine)">View</button>
							<button class="btn btn-xs btn-primary" ng-click="myMachinesController.delete(machine)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

