<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Share Machine</h3>
    </div>
    <div class="modal-body">
        <form novalidate name="shareMachineController.form">
            <div class="form-group">
                <label class="control-label" for="server">Users</label>

                <div class="form-group" ng-repeat="user in shareMachineController.users">
                    <div class="input-group">
                        <span class="form-control">
                            {{user.fullName}}
                        </span>
                        <label class="input-group-addon">
                            <button 
                                class="btn btn-primary btn-xs" 
                                style="font-size: 8px;" 
                                ng-click="shareMachineController.deleteUser(user)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Who do you want to share with?"
                            ng-model="shareMachineController.newUser"
                            ng-keydown="shareMachineController.newUserKeydown($event)"
                            ng-keyup="shareMachineController.newUserKeyup($event)">
                        <label class="input-group-addon">
                            <button 
                                class="btn btn-primary btn-xs" 
                                style="font-size: 8px;" 
                                ng-click="shareMachineController.addUser()"
                                ng-disabled="shareMachineController.candidateUsers.length != 1">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </label>
                    </div>
                    <ul ng-if="shareMachineController.candidateUsers.length > 0" class="autocomplete">
                        <li 
                            ng-repeat="user in shareMachineController.candidateUsers"
                            ng-class="{selected: user.position == shareMachineController.selectedCandidateUserPosition || shareMachineController.candidateUsers.length == 1}">
                            <a ng-click="shareMachineController.addUser(user)">
                                    {{user.fullName}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="shareMachineController.save()" ng-disabled="createMachineController.form.$invalid">Save Changes</button>
        <button class="btn btn-warning" ng-click="shareMachineController.cancel()">Cancel</button>
    </div>
</div>