<style>


</style>

<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Share Machine</h3>
    </div>
    <div class="modal-body">
        <form novalidate name="createMachineController.form">
            <div class="form-group">
                <label class="control-label" for="server">Users</label>
                <div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon"><input type="checkbox"></label>
                            <span class="form-control">Dr Robinson</span>
                        </div>
                    </div>

                    <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon"><input type="checkbox"></label>
                                <span class="form-control">Dr Suzan Smith</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon"><input type="checkbox"></label>
                                <span class="form-control">Mr Yang</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon"><input type="checkbox"></label>
                                <span class="form-control">Dr Yuri Chomski</span>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="createMachineController.create()" ng-disabled="createMachineController.form.$invalid">Share</button>
        <button class="btn btn-warning" ng-click="createMachineController.close()">Close</button>
    </div>
</div>