
topcatUrl https://localhost:8181
allowedIcatUrls https://localhost:8181

username elz24996
domain stfc
password 
project b06aa3f5094243a3a998aae294a376e6

identityEndpoint https://openstack.nubes.rl.ac.uk:5000
computeEndpoint https://openstack.nubes.rl.ac.uk:8774
imageEndpoint http://openstack.nubes.rl.ac.uk:9292

tokensDirectory /vagrant/plugins/topcat_daaas_plugin/tokens

sshKeyPairName elz24996

sshUsername daas
sshPrivateKeyFile /home/vagrant/id_rsa
