
topcatUrl https://localhost:8181
allowedIcatUrls https://localhost:8181

domain default
username daas-service
password 
project 5996a30fe7174cdba446d9c23fcdeab9

identityEndpoint https://openstack.nubes.rl.ac.uk:5000
computeEndpoint https://openstack.nubes.rl.ac.uk:8774
imageEndpoint http://openstack.nubes.rl.ac.uk:9292

sshKeyPairName daas-service

sshUsername daaas
sshPrivateKeyFile /home/vagrant/openstack_id_rsa
